@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* ESTILIZANDO HEADER - CABEÇALHO */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
    padding: 15px;
}
.logo-menu {
    display: flex;
}
.logo-menu > img {
    height: 60px;
}
.menu {
    display: flex;
    align-items: center;
    height: 100%;
}
li {
    list-style-type: none;
    padding: 10px;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.botoes-menu {
    font-size: 10px;
}
.botao-branco {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.botao-branco:hover{
    background-color: lightgrey;
    transition: 0.5s;
    box-shadow: 2px 2px 2px gray;
}
.botao-preto {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}


