@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* Criando variáveis no CSS para ser utilizada e fácil manutenção */
:root {
    --preto: rgb(63, 63, 63);
    --branco: white;
    --verde: rgb(221, 250, 221);
    --cinza-claro: lightgrey;
    --cinza-escuro: gray;
}
/* ESTILIZANDO HEADER - CABEÇALHO */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px var(--preto);
    padding: 15px;
}
.logo-menu {
    display: flex;
}
.logo-menu > img {
    height: 60px;
}
.menu {
    display: flex;
    align-items: center;
    height: 100%;
}
li {
    list-style-type: none;
    padding: 10px;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.botoes-menu {
    font-size: 10px;
}
.botao-branco {
    border: 1px solid var(--preto);
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.botao-branco:hover{
    background-color: var(--cinza-claro);
    transition: 0.5s;
    box-shadow: 2px 2px 2px var(--cinza-escuro);
}
.botao-preto {
    background-color: var(--preto);
    color: var(--branco);
    border-radius: 20px;
    padding: 5px 10px;
}

/* Estilizando o conteúdo da página */
main {
    max-width: 1300px;
    margin: 0 auto;
}
main > img {
    width: 100%;
}
.card1 {
    background-color: var(--verde);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.card1 > p {
    margin-bottom: 20px;
    font-size: 15px;
}

.card-com-imagem {
    display: flex;
    margin-bottom: 20px;
}
.card-com-imagem > img {
    width: 50%;
}
.card-com-imagem > div {
    background-color: var(--verde);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card-com-imagem > div > h2 {
    margin-bottom: 20px;
}
.card-com-imagem > div > p {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
}



/* Criando responsividade, quando a tela for menor que 600px alterar as formas de
exibir as informações do header e dos cards  */
@media (max-width:600px) {
    header {
        flex-direction: column;
    }
    .card-com-imagem {
        flex-direction: column;       
    }
    .card-com-imagem > img {
        width: 100%;
    }
    .card-com-imagem > div {
        width: 100%;
    }
}

footer {
    box-shadow: 0 3px 10px var(--preto);
}
.menus-rodape {
    display: flex;
    justify-content: center;
}
.icones {
    display: flex;
    justify-content: center;
}
.icones > img {
    margin: 5px;
    margin-top: 20px;
} 